@utility links {
  display: inline-flex;
  align-items: center;
  width: 100%;
  gap: 2rem; 
  color: var(--color-fg);
  transition: color var(--transition-fast), background var(--transition-fast);
}

@utility links {
  @variant hover {
    color: var(--color-primary-400);
    background-color: color-mix(in oklab, #22c55e 30%, transparent);
  }
}


@utility links-active {
  color: var(--color-primary-600);
  background-color: color-mix(in oklab, var(--color-surface) 28%, transparent);
}
