@layer utilities {
  /* ✅ ÚNICA utilidad que define TODO el layout + responsive + colapsado */
  .layout-app {
    @apply grid min-h-screen max-h-screen transition-[grid-template-columns] duration-300 ;

    /* Base (móvil) — sin footer */
    @apply [grid-template-areas:'header'_'main'_'sidebar']
           [grid-template-columns:1fr]
           [grid-template-rows:auto_1fr];

    /* ≥ md (usa tus breakpoints de @theme) — sidebar a la izquierda */
    @apply md:[grid-template-areas:'sidebar_header'_'sidebar_main'_'sidebar_main']
           md:[grid-template-columns:220px_1fr]
           md:[grid-template-rows:auto_1fr];

    /* Estado colapsado (deja franja 56px en desktop) con data-attribute */
    @apply data-[collapsed=true]:md:[grid-template-columns:56px_1fr];
  }

  /* Áreas semánticas */
  .area-header  { grid-area: header;}
  .area-sidebar { grid-area: sidebar; }
  .area-main    { grid-area: main; overflow-y:scroll;}
  

  /* Footer oculto en móvil, visible ≥ md */
  .layout-app .area-sidebar { @apply flex-row md:flex-col ; }

}

.area-main::-webkit-scrollbar {
  width: 8px;
  background: var(--color-bg); /* color de fondo */
}

.area-main::-webkit-scrollbar-thumb {
  background: var(--color-primary); /* color de la barra */
  border-radius: 4px;
}

.area-main::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary-300); /* color al pasar el mouse */
}

/* Firefox */
.area-main {
  scrollbar-color: var(--color-bg) var(--color-primary-400);
}