@layer utilities {
  /* Layout principal */
  .layout-app {
    --sidebar-w: 220px;
    --sidebar-w-collapsed: 90px;
    --sidebar-border: 1px;

    @apply grid min-h-dvh max-h-dvh overflow-hidden
           transition-[grid-template-columns] duration-300;

    /* Mobile: header | main | navbar */
    @apply [grid-template-areas:'header'_'main'_'sidebar']
           [grid-template-columns:1fr]
           [grid-template-rows:auto_1fr_56px];

    /* Desktop: sidebar | header + main */
    @apply md:[grid-template-areas:'sidebar_header'_'sidebar_main']
           md:[grid-template-columns:var(--sidebar-w)_1fr]
           md:grid-rows-[auto_1fr];
  }

  /* Estado colapsado (solo desktop) */
  .layout-app[data-collapsed="true"] {
    --sidebar-w: var(--sidebar-w-collapsed);
  }

  /* Header */
  .area-header {
    grid-area: header;
  }

  /* Sidebar/Navbar */
  .area-sidebar {
    grid-area: sidebar;
    position: relative;
    
    /* Mobile: barra fija inferior centrada */
    @apply w-full 
           flex flex-row items-center ;

    /* Desktop: panel lateral con scroll */
    @apply md:h-auto md:w-[var(--sidebar-w)]
           md:flex-col md:justify-start 
           md:gap-4 
           md:transition-[width]
           md:border-t-0;

    /* Borde derecho (solo desktop) */
    &::after {
      content: '';
      @apply absolute top-0 right-0 bottom-0
             w-[1px] bg-[var(--color-border)]
             hidden md:block;
    }
  }

  /* Área principal */
  .area-main {
    grid-area: main;
    @apply overflow-y-auto 
           min-w-0
           overscroll-contain
           [scrollbar-gutter:stable]
           [content-visibility:auto]
           [contain-intrinsic-size:1000px];
  }

  
}