@layer components {
    .btn {
        @apply inline-flex items-center justify-center px-4 py-2 rounded-md font-medium transition-all duration-200 focus:outline-none focus-visible:ring-2;
    }

    /* Variantes */
    .btn-primary {
        color: var(--btn-fg);
        background-color: var(--btn-bg);
    }

    .btn-primary:hover {
        background-color: var(--btn-bg-hover);
    }

    .btn-primary:active {
        background-color: var(--btn-bg-active);
    }

    .btn-primary:focus-visible {
        ring-color: var(--btn-outline-ring);
    }

    /* Secondary */
    .btn-secondary {
        @apply text-[var(--color-text)] bg-[var(--color-surface)] border border-[var(--color-border)];
    }

    .btn-secondary:hover {
        @apply bg-[var(--color-success)] text-[var(--color-bg)];
    }

    .btn-secondary:active {
        @apply bg-[var(--color-surface)];
    }

    /* Success */
    .btn-success {
        color: var(--btn-success-fg);
        background-color: var(--btn-success-bg);
    }

    .btn-success:hover {
        background-color: var(--btn-success-hover);
    }

    /* Warning */
    .btn-warning {
        color: var(--btn-warning-fg);
        background-color: var(--btn-warning-bg);
    }

    .btn-warning:hover {
        background-color: var(--btn-warning-hover);
    }

    /* Danger */
    .btn-danger {
        color: var(--btn-danger-fg);
        background-color: var(--btn-danger-bg);
    }

    .btn-danger:hover {
        background-color: var(--btn-danger-hover);
    }

    /* Outline */
    .btn-outline {
        color: var(--btn-outline-fg);
        border: 1.5px solid var(--btn-outline-fg);
        background-color: transparent;
    }

    .btn-outline:hover {
        background-color:var(--color-bg-light);
        color: var(--color-text-light);;
        /* leve surface hover */
    }

    /* Ghost */
    .btn-ghost {
        color: var(--btn-ghost-fg);
        background-color: transparent;
    }

    .btn-ghost:hover {
        background-color: var(--btn-ghost-hover);
    }
}