/* 1. Framework base */
@import "tailwindcss";

/* 2. Variables y temas globales */
@import "./styles/theme.css";

/* 3. Layouts */
@import "./styles/layout.css";

/* 4. Componentes */
@import "./styles/style_components/button.css";
@import "./styles/style_components/card.css";
@import "./styles/style_components/links.css";


body {
  font-family: var(--font-sans);
  background-color: var(--color-bg);
  color: var(--color-text);
}

/* Tipografía */
h1, h2, h3, .display {
  font-family: var(--font-display);
  color: var(--color-heading);
  font-weight: 600;
}

/* Bloques de código */
.code, pre, code {
  font-family: var(--font-mono);
  color: var(--color-code);
  border-radius: var(--radius-sm);
  background-color: var(--color-code-bg);
}

/* Bloques de texto */
blockquote {
  border-left: 4px solid var(--color-border);
  padding-left: 1rem;
  color: var(--color-muted);
}

/* Separadores */
hr {
  border-color: var(--color-border);
  margin: 2rem 0;
}

/* Selección de texto */
::selection {
  background: var(--color-primary-500);
  color: var(--color-elevated);

}

.light ::selection {
  background: var(--color-primary-600);
  color: var(--color-text);
}